body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #484848;
}

.mobile-bg-cover {
    position: fixed;

    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    min-height: 100%;
    background-attachment: scroll, fixed;
    /* -webkit-background-size: cover;
    */

    will-change: transform;
    transform: translateZ(0);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1; 
}

.main {
    /* background-color: red; */

    padding-bottom: 100px;
    padding-top: 10vh;
    max-width: 85%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 40vh;
    flex-wrap: wrap;
}

.griffin {
    /* background-color: aqua; */

    min-width: 30%;

    display: flex;
    justify-content: flex-end;
    padding-bottom: 5vh;

}

.griffin img {
    max-width: 41vh;
    margin: 0 auto;
}

.info {
    /* background-color: chocolate; */

    min-width: 40%;
}

.info h1 {
    font-weight: 400;
    font-size: 5vh;
}

.info p,
li {
    font-size: 2.3vh;
}

.info li {
    line-height: 4vh;
}